@import "tailwindcss" important;
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light dark;
}

[data-theme="dark"] {
    background-color: rgb(41 41 41);
}
[data-theme="light"] {
    background-color: rgb(255 255 255);
}

html,
#root .fui-FluentProvider {
    transition: background-color 0.2s;
}

a {
    font-weight: 500;
    color: hsl(200, 45%, 50%);
    text-decoration: inherit;
    transition: color 0.25s;
}

a[aria-current="page"] {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

a:hover {
    color: light-dark(hsl(200, 45%, 30%), hsl(200, 45%, 70%));
}
